

<header>
    <div class="header">
        <img class="logo" src="./img/weather-icon.png">
        <h1>{{title}}</h1>
    </div>
    <div class="sub-content">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    
</header>