body{
    color: #222222;
    font-family: arial;
    max-width: 700px;
    margin:0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.main-content{
    flex-grow: 1;
}
h1{
    color: gold;
    font-size: 65px;
}

footer{
    color: grey;
    border-top: 1px solid gainsboro;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 16px;

}

header a{
    font-size:20px;
    color: grey;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

input{
    border :1px solid grey;
    padding: 8px
}

button{
    cursor: pointer;
    background: rgb(96, 177, 20);
    color:white;
    padding: 8px;
}
.logo{
    height: 75px;
    margin-top: 45px;
    
}   
.header{
    display: flex;
} 
.sub-content{
    padding:0 80px;
} 
